@import url('https://fonts.googleapis.com/css?family=Cairo:400,700');

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin top by navbar height */
  margin-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  /* right to left addon */
  direction: rtl;
  font-size: 16px;
  font-family: sans-serif, arial;
}

.footer {
  position: absolute;
  float: left;
  text-align: center;
  direction: ltr;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  padding-top: 5px;
  background-color: black;
  color: white;
}

#navigation-menu {
	font-weight: 700;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
}


table {
  text-align: center;
  width: 100%;
  margin:0 auto;
  font-weight: bold;
}

table caption {
  text-align: center;
  color: brown;
}

table th {
  text-align: center;
  max-width: 350px;
}
table td {
  text-align: center;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table a {
  color: black;
}


.red {
  color: red;
}

.green {
  color: green;
}

textarea {
  resize: none;
}


td ul li {
  margin: 25px auto;
}


.btn {
  font-weight: bold;
}



/*.dates-form {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
}



#searchpanel {
  margin: 15px auto;
  font-weight: bold;
  max-width: 1000px;
}



#UploadFileForm {
  display: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.panel-heading {
  font-weight: bold;
}

#extentions {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin-top: 7px;
  font-size: 16px;
}*/



